.container {
  background-color: aqua;
  border: 1px solid black;
  width: 70%;
  margin: auto;
  padding: 50px;
  border-radius: 20px;
  box-sizing: border-box;
  flex-direction: column;
  text-align: center;
}

p, h1 {
  margin: 0;
}